<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Erreur d'authentification</h1>
    <p>{{ message }}</p>
    <a href="{{ path('app_login') }}">Retour à la page de connexion</a>
</body>
</html>
