<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}YounessNCo{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
    <style>
        .navbar-brand {
            font-size: 24px;
        }
        .navbar-nav .nav-link {
            font-size: 18px;
            color: white;
        }
        .navbar-nav .nav-link:hover {
            color: #ffc107;
        }
        .navbar-toggler {
            border-color: #ffc107;
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">YounessNCo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('serv_afficher_formations') }}">Les Formations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('serv_afficher_inscriptions') }}">Gerer les inscriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Déconnexion</a>
            </li>

        </ul>
    </div>
</nav>


    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
</body>
</html>

